body{ 
    background-image: url(https://i.pinimg.com/736x/e7/78/d8/e778d8b0c7230ec98222df891068955b.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Comic Sans Ms, Comic Sans;
    text-align: center;
}

.Header{
    text-align: center;
}

h1{
    color: (143, 10, 79);
}

.Links{
    
}
