body{ 
    background-image: url(https://i.pinimg.com/736x/e7/78/d8/e778d8b0c7230ec98222df891068955b.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Comic Sans Ms, Comic Sans;
    text-align: center;
    color: rgb(143, 10, 79);
}

#Header{
    display: block;
    width: 60%;
    margin: auto;
    padding: 15px;
    background-color: rgb(255, 236, 246);
    border: dashed, rgb(143, 10, 79), 3px;
    text-align: center;
}

#Links{
    display: block;
    width: 60%;
    margin: 5px, auto;
    padding: 10px;
    background-color: rgb(255, 206, 232);
    color: rgb(143, 10, 79);
    text-align: center;
}

#Body{
    display: block;
    width: 60%;
    margin: auto;
    padding: 15px;
    background-color: rgb(255, 236, 246);
    border: dashed, rgb(143, 10, 79), 3px;
    text-align: center;
}

#Footer{
    display: block;
    width: 60%;
    margin: 5px, auto;
    padding: 10px;
    background-color: rgb(255, 206, 232);
    color: rgb(143, 10, 79);
    text-align: center;
}
